@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h3 style="margin-left:11%; margin-top:30px;margin-bottom:30px">Manage your account</h3>

<div class="m-3" style="margin-left:25%; margin-top:2%">
    <div class="row" style="margin-left:10%">
        <div class="col-md-3" style="margin-top:20px">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
