@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center home">
    <h1 class="text-white float-end" style="font-size:90px; position:absolute; top:20%;left:60%">Welcome!</h1>
  
   @* <h4>This is the homepage of the core banking app</h4>*@

</div>
