@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1 style="margin-left:20%;margin-top:5%;margin-bottom:2%">@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
    <p>
        Confirm this email by clicking here: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
    </p>
    }
    else
    {
    <p style="margin-left:20%;">
                    Registered user login credentials has been forwarded to the email address
    </p>
    }
}

